{% extends "base.jinja2" %}


{% block content %}
<div class="container" style="padding-top:60px">
    <div class="columns text-center"> 
        <div class="column p-centered">
        <h3>Oops! Page not found 🚫</h3>
        <h2><span>4</span><span>0</span><span>4</span></h2>
          <h6>we are sorry, but the page you requested was not found</h6>
    </div>
    </div>
    </div>
{% endblock %} 

{% block script %}
{% endblock %} 