<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="referrer" content="unsafe-url" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DDOS Pool  </title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }} " type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon">

    <!-- codeMirror -->
    <script src="{{ url_for('static', filename='js/codemirror.js') }}"></script>  
    <link rel="stylesheet" href="{{ url_for('static', filename='css/codemirror.css') }}">
    <script src="{{ url_for('static', filename='js/javascript.js') }}"></script>

  </head>


<body class="m-1">

<header class="navbar p-1" style="box-shadow: 2px 2px 2px lightgrey;">
    <img alt="logo" src="{{ url_for('static', filename='img/logo.png')}}" onClick="window.location = '/'" style=''
        height="45" width="50" class="mx-2 float-right c-hand navbar-brand img-fit-contain">

    <section class='navbar-section'>

        <a class='btn btn-link mx-2 info_btn' id='info_btn'> Info. </a>
        <div class="modal" id="info_modal">
            <a href="#close" class="modal-overlay" aria-label="Close"></a>
            <div class="modal-container">
                <div class="modal-header">
                    <a href="#close" class="btn btn-clear float-right info_btn" aria-label="Close"></a>
                    <div class="modal-title h5">Information.</div>
                </div>
                <div class="modal-body">
                    <div class="content">
                            <p>This website allows you to test DOS(denial-of-service) attack running in your Browser,since the DOS Pools
                            are public other user can join the attack creating a DDoS (distributed denial-of-service) attack.</p>
                            <p>The creator and hosting of this website is not reponsable for any iligal attivity using the website.<p/>
                            <p class="m-0">The site is intended for learning purpose only.</p>
                        
                    </div>
                    <div class="modal-footer">
                        <a href="https://github.com/arrudaricardo/" target="_blank" >App Source code.</a>
                    </div>
                </div>
            </div>
        </div>
    </section>


</header>

    {% block content %} {% endblock %}
   
</body>
    {% block script %} {% endblock %}

    <script>
        //info btn
        $('.info_btn').click(function(){
            $("#info_modal").toggleClass('active')
        })
        //toast 
        let shownToasts = [];
        function showToast(content, time, status='toast-primary', callback){
            //status: toast-primary, toast-success, toast-warning or toast-error
            const toast =  document.createElement("div");
            toast.className = "m-2 column col-auto col-mx-auto col-3 col-sm-8 col-xs-12 ";
            toast.setAttribute('style',"position: fixed; top:5%; left:50%; transform: translate(-50%, 0)")
            //TODO: CREATE A FADEIN FADEOUT EFFECT 
            toast.innerHTML = `<div class='toast ${status}'>
                     <button id='toastBtn' style="margin-left:5px" class='btn btn-clear float-right'onclick="this.parentNode.parentNode.innerHTML = ''" ></button>
                    ${content}
                     </div>`
            document.getElementsByTagName("body")[0].appendChild(toast);
            setTimeout(function(){
                toast.outerHTML = '' 
                callback()
            },time)
            shownToasts.push(toast);

    }
    </script>
</html>