{% extends "base.html" %} {% block content %}
<div class="container">
  <form id="createForm" class="column is-two-fifths">
    <div class="field ">
      <label class="label">Name:</label>
      <input
          id="poolName"
          class="input column is-three-quarters"
          type="text"
          placeholder="Attack Pool Name"
        />
      <div class="control"></div>
      <p class="help"></p>
    </div>

    <div class="field ">
      <label class="label">Target:</label>
      <div class="control is-flex">
        <input
          id="poolTarget"
          class="input column is-three-quarters"
          type="text"
          placeholder="Target Adress"
        />
        <input id="poolPort" class="input" type="text" placeholder="Port" />
      </div>
      <p class="help">e.g Target:http://www.exemple.com, port:80</p>
    </div>

    <div class="field ">
      <label class="label">Comment:</label>
      <div class="control">
        <input
          id="poolComment"
          class="input"
          type="text"
          placeholder="Reason of the Attack"
        />
      </div>
    </div>

    <div class="control container is-block">
      <label class="label">Attack Method:</label>
      <div class="select">
        <select id="attackType">
          <option>GET flood attack</option>
          <option>Custom Code</option>
        </select>
      </div>
    </div>

    <div class="container" style="padding-top:1em">
      <label class="checkbox ">
        <input id="terms" type="checkbox" /> I agree to the
        <a href="#">terms and conditions</a>
      </label>
      <div style="padding:0.5em">
        <button id="createBtn" type="submit" class="button">Create</button>
      </div>
    </div>
  </form>

  <div id="customCodeModal" class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Custom Code</p>
        <button class="delete close" aria-label="close"></button>
      </header>
      <section class="modal-card-body">
        <textarea
          id="CodeArea"
          class="textarea"
          placeholder="Javascript Code."
        ></textarea>
      </section>
      <footer style="display: inline;" class="modal-card-foot">
        <div class="container">
          Wrapp in a function named: <code> attack();</code>
        </div>

        <div class="is-pulled-right">
          <button id="saveBtn" class="button is-success">Save changes</button>
          <button class="button close">Cancel</button>
        </div>
      </footer>
    </div>
  </div>
</div>
{% endblock %} {% block script %}
<script>
  //create Pool
  let objx;
  window.document.getElementById("createBtn").onclick = function() {
    data = {
      'poolName': $("#poolName").val(),
      'poolTarget': $("#poolTarget").val(),
      'attackType': $("#attackType").val(),
      'terms': $("#terms").prop("checked"),
      'poolComment': $("#poolComment").val(),
      'poolPort': $("#poolPort").val(),
      'customCode': $("#CodeArea").val()
    };

    $.ajax({
      method: "POST",
      url: {{url_for('create_pool') | tojson}},
      data: data,
      success: function(response){
        console.log(response)
        //window.location.href = response.redirect

      },
      error: function(msg){
          alert(msg)
        console.log(msg)
      }
      
    })

  };

 



  // open modal if select "custom code"
  document.getElementById("attackType").onchange = function() {
    if ($("#attackType").val() == "Custom Code") {
      $("#customCodeModal").addClass("is-active");
       // send basic javascript template to Custom Code text-field

       let basic_code = "window.document.getElementById('startButton').onclick = function(){\n//Function to be called.\n\n}"

       $("#CodeArea").val(basic_code)
    }   
  };
  //close modal btn
  $(".close").click(function() {
    $("#customCodeModal").removeClass("is-active");
    $("#CodeArea").empty();
  });
  $("#saveBtn").click(function() {
    $("#customCodeModal").removeClass("is-active");
  });
</script>
{% endblock %}
