{% extends "base.jinja2" %} {% block content %}

<form autocomplete="off"> 
<div class="container" style="padding:2em">
  <div class="columns">
    <div class="column card col-6 col-sm-12">

      <div class="container">
        <div class="columns">
          <div class="column col-12">
            <div class="form-group">
              <label class="form-label">📇 Name:</label>
              <input id="poolName" class="form-input" type="text" placeholder="Attack Pool Name">
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="form-group">
          <label class="form-label">🎯 Target:</label>
          <div class="columns">
            <div class="column col-8">
              <input id="poolTarget" class="form-input" type="text" placeholder="1.1.1.1 or http://link.com">
            </div>
            <div class="column col-4">
              <input id="poolPort" class="form-input" type="text" placeholder="Port" />
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="form-group">
          <label class="form-label">💬 Comment:</label>
          <div class="columns">
            <div class="column">
              <input id="poolComment" class="form-input" type="text" placeholder="Reason of the Attack">
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="form-group">
          <label class="form-label">💣 Attack Method:</label>
          <div class="columns col-auto">
            <div class="column col-lg-10">
              <select id="attackType" class="form-select">
                <option style="display: none" id='option-choose'>Choose an option</option>
                <option>Custom Code</option>
                {%for attack in attacks_script %}
                <option>{{attack}}</option>
                {% endfor %}
              </select>
            </div>
          </div>
        </div>
      </div>

      <div class="container" style="padding-top:1em">
        <div class="form-group">
          <label class="form-checkbox d-inline-flex">
            <input id='termCheckbox' type="checkbox">
            <i class="form-icon"></i>
          </label>I agree to the <a id="termsLink">terms and conditions</a>
        </div>
        <div style="padding:0.5em">
          <button id="createBtn" type="submit" class="btn disabled">Create</button>
        </div>
      </div>

    </div>
    <div id='codeBox' class="column col-6 hide-sm d-invisible"">
        
       <div class="m-0"><strong>Script:</strong>
        <div  style="max-height: 300px;" class="" id='displayCode' >
      </div> 
    </div>

    </div>
  </div>
</div>
</form>

          {# Modal Custom code #}
          <div class="modal" id="customCodeModal">
              <a href="#close" class="modal-overlay" aria-label="Close"></a>
              <div style="height:100%" class="modal-container">
                <div class="modal-header">
                  <a href="#close" class="btn btn-clear float-right close" aria-label="Close"></a>
                  <div class="modal-title h5">Custom Code
                  </div>
                </div>
                <div class="modal-body" >
                  <div id='codeEditor' class="content">
                  </div>
                </div>
                <div class="modal-footer">
                    <button id="saveBtn" class="btn">Save changes</button>
                    <button class="btn close">Cancel</button>
                </div>
              </div>
            </div>


            {# Modal Terms #}
            <div class="modal modal-sm" id="termsModal">
                <a href="#close" class="modal-overlay" aria-label="Close"></a>
                <div class="modal-container">
                  <div class="modal-header">
                    <a href="#close" class="btn btn-clear float-right close" aria-label="Close"></a>
                    <div class="modal-title h5">Terms and Conditions</div>
                  </div>
                  <div class="modal-body" style="height:500px">
                    <div class="content">
                      The hosting and the developer of this website do not take any responsibility
                      and we are not liable for any damage caused through use of this website,
                      be it indirect, special, incidental or consequential damages
                      (including but not limited to damages for loss of business, loss of profits,
                      interruption or the like).
                    </div>
                  </div>
                  <div class="modal-footer">
                      <button id="termAgreeBtn" class="btn close">Agree</button>
                  </div>
                </div>
              </div>


{% endblock %} {% block script %}
<script>
  //CodeMirror
  let codeMirror, displayCodeMirror;
  $(document).ready(function(){
    customCodeMirror = CodeMirror(window.document.getElementById('codeEditor'), {
      value: "window.document.getElementById('startButton').onclick = function(){\n\n\n\n//Function to be called.\n\n\n\n}",
      mode:  "javascript",
      // lineNumbers: true,
    });

      displayCodeMirror = CodeMirror(window.document.getElementById('displayCode'), {
      value: "window.document.getElementById('startButton').onclick = function(){\n\n\n\n//Function to be called.\n\n\n\n}",
      mode:  "javascript",
      readOnly: true
    });

    displayCodeMirror.setSize("100%","420px")
    customCodeMirror.setSize("100%","100%")
  });
  //create Pool
  window.document.getElementById("createBtn").onclick = function () {
    data = {
      'poolName': $("#poolName").val(),
      'poolTarget': $("#poolTarget").val(),
      'attackType': $("#attackType").val(),
      'terms': $("#termCheckbox").prop("checked"),
      'poolComment': $("#poolComment").val(),
      'poolPort': $("#poolPort").val(),
      'customCode': codeMirror.getValue()
    };

    $.ajax({
      method: "POST",
      url: {{url_for('create_pool') | tojson}},
      data: data,
      success: function (response) {
        console.log(response)
        //window.location.href = response.redirect
      },
      error: function (msg) {
        alert(msg)
        console.log(msg)
      }
    })
  };

// on change option #attackType
  let cacheAttackType = {}
  document.getElementById("attackType").onchange = function () {
    $('#codeBox').removeClass('d-invisible');
    let attackType = $("#attackType").val() 

    if (attackType == "Custom Code") {
      
      $("#customCodeModal").addClass("active");
      customCodeMirror.refresh();

    }else{
      //check if custom code in cache
    if (cacheAttackType.hasOwnProperty(attackType)){

      displayCodeMirror.getValue(cacheAttackType[attackType])

    }else{
    $.ajax({
      method: "POST",
      url: {{url_for('getAttack') | tojson}},
      data: {'attackType':attackType},
      success: function (response) {
        displayCodeMirror.setValue(response);
        console.log(response)
         cacheAttackType[attackType] = response
      },
      error: function (msg) {
        console.log(msg)
      }
    })
  }
}
  };

  //close modal btn
  $(".close").click(function () {
    $("#CodeArea").empty();
    $('.modal').removeClass("active")

  });
  //save CustomCode
  $("#saveBtn").click(function () {
    displayCodeMirror.setValue(customCodeMirror.getValue())
    $("#customCodeModal").removeClass("active");
  });
  //term modal
  $("#termsLink").click(function () {
    $("#termsModal").addClass('active');
  });
  $("#termAgreeBtn").click(function () {
    $("#termsModal").removeClass('active') 
    $("#termCheckbox").prop( "checked", true );
 
  });

  //Create btn disable
  document.getElementById('termCheckbox').onchange = function(){

    if ($("#termCheckbox").prop("checked") === true){

        $("#createBtn").removeClass('disabled')
 
}else{
$("#createBtn").addClass('disabled')
}
}
  
 
 
  

</script>
{% endblock %}
