{% extends "base.html" %}

{% block content %}

{# POOL INFO #}
<div class="container" style="padding:2em">
  <div class="columns">
    <div class="column col-6 col-sm-11">
      <div class="card">
    <h1>{{pool.name}}</h1>
    <div id='pool-target'>Target: {{pool.target_address}} </div>
    <div id='pool-comment'>Comment: {{pool.comment}}</div>
    
    <div id='pool-rpm'>RPM: <div style="display: inline;" id='rpm'>{{pool.rpm}}</div>
    </div>
    <div id='pool_number_attacker'>Number of Attackers:<div style="display: inline;" id='numberAttakers'>{{pool.number_attackers}}
      </div>
    </div>
    
    <div class="p-2">
    <div> Script Run/min: <input  class="col-3" id='speed'  style="border:none" placeholder='min.' value="1" min="1" type="number"></div>
    <button class="col-4 d-block btn" id='startButton'>Start Attack</button>
    </div>

</div>
  </div>
  {# CODE #}
  <div class="column col-6 hide-sm col-sm-0 "> 
      <pre><code id='displayCode' class="language-javascript"></code></pre>
    </div>

</div>
</div>


{# MODAL #}
<div id="termsModal" class="modal modal-sm active" id="modal-id">
  <div class="modal-container">
    <div class="modal-header">
      <div class="modal-title h5">Agreement</div>
    </div>
    <div class="modal-body">
      <div class="content">
        I agree to not use this code for
      </div>
    </div>
    <div class="modal-footer">
      <button onclick="$('.modal').removeClass('active')" class="btn btn-primary">Agree</button>
    </div>
  </div>
</div>

{% endblock %}

{% block script %}
{% if pool.attack_type == 'Custom Code' %}
<script id='attackCode' type=text/javascript>
{{ pool.custom_code|safe }}
</script>



{% else %}

{% set attackType = pool.attack_type %}
<script id="attackCode"> 
  {% include 'attack_script/'+attackType+'.jinja2'%}
</script>
{% endif %}

{#  General Code for pool page    #}
<script type=text/javascript>
  //display code in DOM
  let customCode = $('#attackCode').text();
  $('#displayCode').text(customCode);
  </script>

{% endblock %}