{% extends "base.jinja2" %}

{% block content %}

{# POOL INFO #}

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.slim.js"></script>

<div class="container" style="padding:2em">
  <div class="columns">
    <div class="column col-6 col-sm-11">
      <div id='cardInfo' class="card">
    <h1>📇 {{pool.name}}</h1>
    <div class='m-1 d-inline'>🎯 Target:
      <u id='pool-target'>{{pool.target_address}}:{{pool.port}}</u></div>
    <div class='m-1'>💬 Comment:
      <u  id='pool-comment' > {{pool.comment}}
      </u> 
      </div>

    <div class='m-1'>👨🏻‍💻 Number of Attackers: 
       <div class="d-inline"  id='numberAttakers'>{{pool.number_attackers}}</div>
    </div>
    
    <div class="p-2">
    <div> Script Run/min: <input  class="col-3" id='speed'  style="border:none" placeholder='min.' value="1" min="1" type="number"></div>
    <button class="my-2 col-4 d-block btn btn-sm" id='startButton'>Start Attack</button>
    <div style="font-size: 70%" id="toggleCode"class="c-hand col-4 d-block show-sm">Show Attack Code</div>
    </div>

</div>
</div>

{# DISPLAY CODE #}
  <div id='displayCodeBox'  class="column col-6 hide-sm col-sm-11 ">
      
   <strong>Script:</strong> 
   <div id='displayCode' > </div>
   
  </div>
</div>
</div>

{# CHAT BOX #}
<div id='chatBox' class="container loading loading-lg">
  <div id='chatDisplay'class="d-invisible">
  <div class="columns">
    <div id='chatArea' class="column loading-lg">
      <div class="container">
        <div>Chat:</div>
        <textarea readonly   id="chat" cols="5" rows="5"></textarea>
        <input id="text" type="text" size="20" placeholder="Enter your message here">
        <button id="sendText" type="submitText" class=" btn btn-sm m-1">Send</button>
      </div>
    </div>
  </div>
  <div class="container m-0">
      <div id="disconnectChat" type="submitText" class="d-block-inlinep-0 m=0 btn btn-sm btn-link">turn chat off</div>
  </div>
</div>
</div>

{# MODAL #}
<div id="termsModal" class="modal modal-sm" id="modal-id">
  <div class="modal-container">
    <div class="modal-header">
      <div class="modal-title h5">Agreement</div>
    </div>
    <div class="modal-body">
      <div class="content">
        I agree to not use this code for
      </div>
    </div>
    <div class="modal-footer">
      <button onclick="$('.modal').removeClass('active')" class="btn btn-primary">Agree</button>
    </div>
  </div>
</div>

{% endblock %}

{% block script %}
{% if pool.attack_type == 'Custom Code' %}
<script id='attackCode' type=text/javascript>
{{ pool.custom_code|safe }}
</script>

{% else %}
{% set attackType = pool.attack_type %}
<script id="attackCode"> 
  {% include 'attack_script/'+attackType+'.jinja2'%}
</script>
{% endif %}

{#  General DOM event #}
<script type=text/javascript>

// code mirror 
window.onload = function(){
displayCodeMirror = CodeMirror(window.document.getElementById('displayCode'), {
  //value: "",
  mode:  "javascript",
  readOnly: true
});

  //display code in DOM
  let attackCode = $('#attackCode').text();
  displayCodeMirror.setValue(attackCode)
  displayCodeMirror.refresh()





  // set displayCode same height as cardInfo
  displayCodeMirror.setSize("100%", (document.getElementById('cardInfo').offsetHeight - 20).toString())
  $(window).on('resize', function(){
    displayCodeMirror.setSize("100%", (document.getElementById('cardInfo').offsetHeight - 20).toString())

  });

}
// togle displayCode if display small 
$('#toggleCode').click(function(){ 
  if ($('#displayCodeBox').hasClass('hide-sm')) {
    $('#displayCodeBox').removeClass('hide-sm');
    $('#toggleCode').text('Hide Attack Code')
  }else{
    $('#displayCodeBox').addClass('hide-sm');
    $('#toggleCode').text('Show Attack Code')
  }
})

$('#chat').click(function(){
  $('#text').focus()
})
  </script>


  <script id='socketIO' type=text/javascript>
  $(window).on('load', function() {
    var socket;
    function connectSockeIO (){
      socket = io.connect('http://' + document.domain + ':' + location.port + '/chat');
      socket.on('connect', function() {
        $('#chatBox').removeClass('loading');
        $('#chatDisplay').removeClass('d-invisible');
        $('#chatArea').removeClass('d-hide'); // if user closed chat
        $('#disconnectChat').text("Disconnect to Chat");

        socket.emit('joined', {});
      });
      socket.on('status', function(data) {
          $('#chat').val($('#chat').val() + '<' + data.msg + '>\n');
          $('#numberAttakers').text(
            function(){ return (data.numAttackers >= 0 ? data.numAttackers : 0) }()  //remove nagtive attack num
            );  //update num of Attackers
          $('#chat').scrollTop($('#chat')[0].scrollHeight);
      });
      socket.on('message', function(data) {
          $('#chat').val($('#chat').val() + data.msg + '\n');
          $('#chat').scrollTop($('#chat')[0].scrollHeight);
      });
    }

    let submitText = function(){
        text = $('#text').val();
        if (text.length > 0 && text.length <30){
          $('#text').val('');
              socket.emit('text', {msg: text});
        }
              //error
      }
      
    $('#text').keypress(function(e) {
        var code = e.keyCode || e.which;
        if (code == 13) {
          submitText()
        }
    });
    document.getElementById('sendText').onclick = function() {
      submitText()
    }

    

    $(document).ready(function(){connectSockeIO();})

  // event : click disconnectChat Button
  document.getElementById('disconnectChat').onclick = function () {
        if (socket.connected){  // check if connect to socket
          socket.emit('left', {}, function() {
              socket.disconnect();
              $('#chatArea').addClass('d-hide');
             
              $('#chat').val('') // clean chat textarea 
          });
            $(this).text("Connect to Chat");
        }else {
          $('#chatBox').addClass('loading');
          connectSockeIO();
      }

    }

}); 


  </script>

{% endblock %}